$brand-bg-color : #d7d5d5;
$brand-info-color : #9a9ae4;
$brand-desc-color : #999999;

$brand-100: #ebebeb;
$brand-200: #feecb8;
$brand-300: #7291ac;
$brand-400: #ffbe01;
$brand-500: #ffa500;
$brand-600: #769b79;

$white : #fff;
$black : #000;